@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.google.com/specimen/Mate+SC#standard-styles);
/* *, *:before, *:after {
  box-sizing: border-box;
} */
/* *, *:before, *:after {
  box-sizing: border-box;
} */
.full {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(28, 28, 28);
}

.navbar {
  z-index: 9999;
  background-color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
}
.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 0;
  font-size: 24px;
  line-height: 48px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn-lnk {
  position: absolute;
  bottom: 15px;
}

.btn-lnk0 {
  left: 30px;
}

.btn-lnk1 {
  right: 30px;
}

.Name {height: 70vh;
  background:#000;
  overflow: hidden;
} 
.Home{
  max-width: inherit;
}
.Home .container {
    width: 10%;
    margin: 0 ;
  }
  .tagline1 {
    font-family: 'Lato', sans-serif;
    margin-left: 30%;
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
    color: #bbb;
    text-align: left;
    padding-top: 100px;
    text-shadow: 1px 1px black;
  }
  
  .tagline2 {
    font-family: 'Lato', sans-serif;
    margin-left: 30%;
    font-size: 7em;
    letter-spacing: 7px;
    line-height: 0.95em;
    font-weight: 100;
    color: #bbb;
    text-align: left;
    text-shadow: 1px 1px black;
    padding-top: 10px;
  }
  @media screen and (min-width: 601px) {
    div.tagline2{
      font-size: 80px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.tagline2 {
      font-size: 25px;
    }
  }
  @media screen and (min-width: 601px) {
    div.tagline1{
      font-size: 2em;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.tagline1 {
      font-size: 20px;
    }
  }
  
  
  
 header{
    background:  #000000;
    ;
  }
header::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .logo{
    float: left;
    padding: 10px 0;
  }
  
  #nav-bar ul li:hover::after {
    width: 100%;
  }
  
  #nav-bar ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background: #be6662;
    width: 0;
    transition: width 0.2s;
  }
  
  .max {
    max-width: 1300px;
    margin: auto;
    padding-bottom: 15px;
  }
  
  .desc {
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    font-size: 1.3em;
    line-height: 1.7em;
    letter-spacing: 0.03em;
    margin-left: 10px;
    margin-right: 10px;
  }

 .Home a{
  color: rgb(250, 246, 246);
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  text-decoration: none;
}

a:visited {
  color: rgb(250, 244, 244);
}

a:hover,
a:focus {
  color: white;
}
 
  @import url(https://fonts.googleapis.com/css?family=Raleway);
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    background: #000000;
    
  }
 

   
  .Home h2 {
  color: #ccc;
  font-family: "raleway", sans-serif;
  opacity: 1;
  text-align: center;
  transition: opacity 0.8s;
}
.Home h2.hide {
  opacity: 0;
}
.Home h1 {
    padding-top: 10%;
    font-size: 40px;
    color: #9c9a9a;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
@media screen and (min-width: 601px) {
  div.Home h1{
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.Home h1 {
    font-size: 30px;
  }
}

.Home h3{
    color:#fff;
}
/* }
.bot
 {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
} */
.bot .sand {
  /* background: #B69C77; */
  background: #be6662;
  height: 30%;
  position: absolute;
  width: 100%;
  z-index: -1;
  right: 0;
  bottom: 0;
  left: 0;
}

.bot .bb8 {
  position:absolute;
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  max-width:100%; 
  bottom: 20%;
  /* left: 0; */
  /* width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px; */
}
@media screen and (max-width: 600px) {
  .bb8 {
    max-width:600px;
  }
}
@media screen and (max-width: 997px) {
  .bb8 {
    max-width:997px;
  }
}

/* @media screen and (max-width: 600px) {
  body {
      margin-right: 0px;
  }
} */

.bot .antennas {
  position: absolute;
  transition: left 0.6s;
  left: 22%;
}
.bot .antennas.right {
  left: 0%;
}

.bot .antenna {
  background: #f5d5bb;
  position: absolute;
  width: 2px;
}
.bot .antenna.short {
  height: 20px;
  top: -60px;
  left: 50px;
}
.bot .antenna.long {
  border-top: 6px solid #020204;
  border-bottom: 6px solid #020204;
  height: 36px;
  top: -78px;
  left: 56px;
}

.bot .head {
  background: #e0d2be;
  border-radius: 90px 90px 14px 14px;
  -moz-border-radius: 90px 90px 14px 14px;
  -webkit-border-radius: 90px 90px 14px 14px;
  height: 56px;
  margin-left: -45px;
  overflow: hidden;
  position: absolute;
  width: 90px;
  z-index: 1;
  top: -46px;
  left: 50%;
  
}
.bot .head .stripe {
  position: absolute;
  width: 100%;
}
.bot .head .stripe.one {
  background: #ee640f;
  height: 6px;
  opacity: 0.8;
  z-index: 1;
  top: 6px;
}
.bot .head .stripe.two {
  background: #ee640f;
  height: 4px;
  top: 17px;
}
.bot .head .stripe.three {
  background: #999;
  height: 4px;
  opacity: 0.5;
  bottom: 3px;
}
.bot .head .eyes {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  transition: left 0.6s;
  left: 0%;
}
.bot .head .eyes.right {
  left: 36%;
}
.bot .head .eye {
  border-radius: 50%;
  display: block;
  position: absolute;
}
.bot .head .eye.one {
  background: #020204;
  border: 4px solid #e0d2be;
  height: 50%;
  width: 33%;
  top: 12px;
  left: 12%;
}
.bot .head .eye.one:after {
  background: white;
  border-radius: 50%;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 3px;
  top: 4px;
  right: 4px;
}
.bot .head .eye.two {
  background: #e0d2be;
  border: 1px solid #020204;
  height: 14px;
  width: 14px;
  top: 30px;
  left: 40%;
}
.bot .head .eye.two:after {
  background: #020204;
  border-radius: 60%;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  width: 80%;
  top: 2px;
  left: 2px;
}

.bot .ball {
  background: #d1c3ad;
  border-radius: 50%;
  height: 140px;
  overflow: hidden;
  position: relative;
  width: 140px;
}

.bot .lines {
  border: 2px solid #B19669;
  border-radius: 50%;
  height: 400px;
  opacity: 0.6;
  position: absolute;
  width: 400px;
}
.bot .lines.two {
  top: -10px;
  left: -250px;
}

.bot .ring {
  background: #e66312;
  border-radius: 50%;
  height: 70px;
  margin-left: -35px;
  position: absolute;
  width: 70px;
}
.bot .ring:after {
  background: #d1c3ad;
  border-radius: 50%;
  content: "";
  display: block;
  height: 70%;
  margin-top: -35%;
  margin-left: -35%;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
}
.bot .ring.one {
  margin-left: -40px;
  height: 80px;
  width: 90px;
  top: 6%;
  left: 50%;
}
.bot .ring.two {
  height: 38px;
  width: 76px;
  -ms-transform: rotate(36deg);
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
  top: 70%;
  left: 18%;
}
.bot .ring.two:after {
  top: 100%;
}
.bot .ring.three {
  height: 30px;
  -ms-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  top: 66%;
  left: 90%;
}
.bot .ring.three:after {
  top: 110%;
}

.bot .shadow {
  background: #3A271C;
  border-radius: 50%;
  height: 23.3333333333px;
  opacity: 0.7;
  position: absolute;
  width: 140px;
  z-index: -1;
  left: 5px;
  bottom: -8px;
}

.bot .shameless {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.desc {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  margin-left: 10px;
  margin-right: 10px;
}

#about-page {
  margin-left: 10%;
  padding-top: 2%;
  background: url('');
  background-size: cover;
  text-align: left;
}
#about-page h1 {
   
  /* font-family: 'Lato', sans-serif; */
  margin-left: 10%;
  font-size: 3em;
  font-weight: 300;
  font-style: italic;
  text-align: left;
  /* padding-top: 100px; */
  text-shadow: 1px 1px black;
 font-family: 'Lobster', 'Roboto', serif;
}
/* @media screen and (min-width: 601px) {
  div#about-page h1{
    font-size: 80px;
  }
} */

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div#about-page h1{
    font-size: 35px;
  }
}
#about-page h3 {
   
    /* font-family: 'Lato', sans-serif; */
    /* margin-left: 10%; */
    font-size: 2em;
    font-weight: 300;
    /* font-style: italic; */
    text-align: left;
    /* padding-top: 100px; */
    /* text-shadow: 1px 1px black; */
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
   /* font-family: 'Lobster', 'Roboto', serif; */
}
/* #about-page h3 {
  text-align:justify;
  font-weight: bold;
  
} */
@media screen and (min-width: 601px) {
  div#about-page h3{

    font-size: 35px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div#about-page h3{
    font-size: 25px;
  }
}

#about-page .row {
  font-size: 1.1em;
  margin-top: 7%;
}
  


/* Section 2*/
/* .skills *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
#Skills h1 {
  margin-top: 0%;
  color:#ff4d4f;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Lobster', 'Roboto', serif;
}
.skills {
  display: grid; 
  /* height: 100vh; */
  
  place-items: center;
  background: #000000;
}
.skills .skill-bars{
   /* grid-template-columns: repeat(auto-fit,minmax(100px,1fr)); */
    padding: 25px 30px;
    background: rgb(0, 0, 0);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  @media screen and (max-width: 600px) {
    .skills .skill-bars {
      width:300px;
    }
  }
  @media screen and (min-width: 603px) {
    .skills .skill-bars {
      width:600px;
    }
  }
    
  .skills .bar{
    margin: 20px 0;
  }
  .bar:first-child{
    margin-top: 0px;
  }
  .info{
    color:#fff;
    margin-bottom: 5px;
  }
  .info span{
    font-weight: 500;
    font-size: 17px; opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .progress-line{
    height: 10px; width: 100%;
    background: #f0f0f0; position: relative;
    transform: scaleX(0); transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .progress-line span{
    height: 100%; position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #ff4d4f;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .progress-line span::before{
    position: absolute; content: "";
    top: -10px; right: 0;
    height: 0; width: 0; opacity: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute; top: -28px;
    right: 0; font-weight: 500;
    background: #000;
    color: #fff; opacity: 0;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .Python span{
    width: 75%;
  }
  .ML span{
    width: 84%;
  }
  .ImagePros span{
    width: 77%;
  }
  .RIOT span{
    width: 88%;
  }
  .DL span{
    width: 82%;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .Python span::after{
    content: "75%";
  }
  .ML span::after{
    content: "84%";
  }
  .ImagePros span::after{
    content: "77%";
  }
  .RIOT span::after{
    content: "88%";
  }
  .DL span::after{
    content: "82%";

  }
  /* Projects */
 
body {
  background: #eceef1;
  font-family: "Slabo 27px", serif;
  color: #333a45;
}
/* #Skills h1 .header__title{
  color:#ff4d4f;
    font-size: 3em;
    font-weight: bold;
    
} */
.wrapper {
  display: grid; max-height: 5000px;

  margin: auto;
  max-width: 1000px;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0 0 5px 0 rgba(0,  0, 0, 0.06); */
}
#Projects{
  background: rgb(255, 255, 255);
}
#Projects h1 {
  margin-top: 70px ;
  text-align: center;
  /* color:#0c0c0c; */
    font-size: 3em;
    font-weight: bold;
    /* font-family: 'Open sans', cursive; */
}
.header {
  padding: 30px 30px 0;
  text-align: center;
}
.header__title {
  font-family: 'Lobster', 'Roboto', serif;
  margin: 0;
  color:rgb(78, 78, 78);

  /* text-transform: uppercase; */
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
}

.header__subtitle {
  margin: 0;
  font-size: 1.5em;
  color: #464c53;
  font-family: "Yesteryear", cursive;
  font-weight: 500;
  line-height: 1.1;
}

.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  margin: 15px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 1000px) {
  .card {
    width: 200%;
  }
}
.card:hover .card__inner {
  font-weight: bolder;
  color:rgb(53, 52, 52);
  background-color: #1dd3ae;
  transform: scale(1.05);
}
.card__inner {
  width: 100%;
  padding: 30px;
  position: relative;
  cursor: pointer;
  background-color: #32363b;
  color: #eceef1;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.card__inner:after {
  transition: all 0.3s ease-in-out;
}
.card__inner .fa {
  width: 100%;
  margin-top: 0.25em;
}
.card__expander {text-align:center;
  transition: all 0.2s ease-in-out;
  background-color: #333a45;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-transform: uppercase; */
  color: #fcfcfc;
  font-size: 1.5em;
}
.card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.card__expander .fa:hover {
  opacity: 0.9;
}
.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}
.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}
.card.is-expanded .card__inner {
  color:rgb(39, 38, 38);
  background-color: #1abc9c;
}
.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333a45;
}
.card.is-expanded .card__inner .fa:before {
  content: "ï„•";
}
.card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}
.card.is-expanded:hover .card__inner {
  transform: scale(1);
}
.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
  background-color: #949fb0;
  transform: scale(1);
}

@media screen and (min-width: 992px) {
  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }

  .card:nth-of-type(3n+4) {
    clear: left;
  }

  .card__expander {
    width: calc(300% + 60px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(2n+3) {
    clear: left;
  }

  .card__expander {
    width: calc(200% + 30px);
  }
}



.toggle-icon {
  display: block;
  position: relative;
  width: 100%;
  margin: -2.2em auto 0 0.2em;
  -webkit-transition: margin 600ms;
  -moz-transition: margin 600ms;
  transition: margin 600ms;
  cursor: pointer;
}

.toggle-icon .bar {
  display: block;
  width: 3.8em;
  height: 0.2em;
  margin: 0.9em;
  border-right: 2.8em solid #fff;
  border-left: 0.6em solid #d6d6d6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
  -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
  transition-property: transform, margin, border-right-color, box-shadow;
  -webkit-transition-duration: 600ms;
  -moz-transition-duration: 600ms;
  transition-duration: 600ms;
}
  .toggle-icon .bar:nth-of-type(1) {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
  }
  .toggle-icon .bar:nth-of-type(2) {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

/*pushed*/

/* Contacts page */
.video {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 420px;
  overflow: hidden;    position: relative;
  text-align: center;

}
.video img {
  min-width: 100%;
  min-height: 100%;

}
.video  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(19, 18, 18);
  padding-top: 80px;
}
.video  h2 {
text-transform: uppercase;
font-size: 35px
}
.video  p {
  color: #080808 !important;
}
.video  .social {
  margin-top: 40px;
  
}
.video  .social i {
  color:rgb(0, 0, 0);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #030303;
  line-height: 55px;
  font-size: 25px;
  transition: .5s ease;
  margin-right: 5px;
}
.video  .social i:last-child {
  margin-right: 0;
}
.video  .social i:hover {
  border-color: #be6662;
  cursor: pointer;
  box-shadow: 0 0 20px #be6662;
  transform: scale(1.2)
}

.a .fa{
  color:#000;
}
h6{
  margin-bottom: 0mm;
}